{% extends "base.html" %}

{% block content %}

<div class="col-sm-10">
	<div class="row">
		<span>&nbsp;</span>
	</div>
	<div class="row">
		<p>What's up? It's Cobee, a Python & django programmer.<br/>
			This is my website and I’m currently looking for a job.<br/>
			I got a lot of curiousity related to python programming. I also really love to try new & trendy awesome skills, libraries, apis, so on. I can speak English and Korean. I love travel, singing, hanging out w/ people, having fun.
		<b>i gotta put more shitty stuffs on this board later, hopefully very soon. cuz i cant think of it anymore..</b>
		</p>
	</div>
</div>

{% endblock %}